body{
  background-color: #1f1e1e;
  color:white;
  overflow:hidden;
}
h1{
  text-align: center;
}
.todo-wrapper{
  background: #353434;
  padding:2%;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 88vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(11, 11, 11);
}
.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.todo-input-item{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}
.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-input-item input{
  padding:7px;
  border:none;
  width:250px;
}
.todo-input-item input:focus{
  outline:none;
  outline: 2px solid rgb(165, 0, 230);
}
.primaryBtn{
  background-color: rgb(115, 31, 188);
  color:white;
  border:none;
  border-radius:0px;
  margin-top: 25px;
  padding:10px;
  width:60px;
  cursor: pointer;
}
.primaryBtn:hover{
  background-color: rgb(95, 23, 158);
}
.seconbtn{
  background-color: rgb(85, 82, 88);
  color:white;
  border:none;
  border-radius:0px;
  margin-top: 25px;
  padding:10px;
  width:fit-content;
  cursor: pointer;
}
.active{
  background-color: rgb(115, 31, 188);
}

.btn-area{
  margin-bottom: 30px;
}
.todo-list{
  display: flex;
  flex-direction: column;
  width: auto;
}
.todo-list-item{
  background-color: rgb(27, 25, 25);
  display:flex;
  justify-content: space-between; 
  align-items: center;
  padding:25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(43, 40, 40);
}
.todo-list-item h3{
  font-size: 25px;
  color:rgb(165, 0, 230);
  font-weight: bold;
  margin:0px;
}
.todo-list-item p{
  font-size: 14px;
  color:rgb(161,161,161);
  margin-top: 8px;
}
.delbtn{
  font-size:12px;
  cursor:pointer;
  /* margin-left: 2px; */
}
.delbtn:hover{
  color: red;
}
.checkbtn{
  font-size: 12px;
  cursor: pointer;
  color:  rgb(58, 6, 104);
  margin-left: 10px;
  margin-bottom: 5px;
}
.checkbtn:hover{
  color: rgb(66, 4, 120);
}
